.filter{
    flex: 2;
    padding: 0px 30px;
    margin: 35px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;    height: 70vh;
    
}


@media only screen and (max-width: 600px) {
    .filter{
        display: none;
    }
  }