.card {
  padding: 0px 50px;
  margin: 25px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: relative;
}
.image {
  width: 200px;
}

.name {
  position: absolute;
  top: -20px;
  left: 0;
  background-color: wheat;
}


.cartSection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cartButton{
    border: none;
    background-color: gray;
    color: white;
    border-radius: 15px;
    padding: 5px;
}
