
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 50px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
   
}

.cartImage{
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
    padding: 20px;
    
}

.cartSection{
    display: flex;
    
}

.cart{
    position: relative;
    
}
.quantity {
    position: absolute;
    right: 21%;
    top: -10%;
}
.productSection{
    
    text-decoration: none;
    color: black;
}



/* For smaller screen */

@media only screen and (max-width: 600px) {
    .productSection{
        display: none;
    }
  }